*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #D8E3E7;
}

.pink{
    color: #F900BF;
    font-weight: bold;
}